/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  max-height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
